.chatHistory {
    padding: 30px;
}

img#avatar {
    width: 50px;
}

.chat {
    padding: 5px;
}

.chatText, .chat > img {
    display: inline;
    vertical-align: middle;
}

.chatText {
    min-width: 5%;
    max-width: 45%;
    display: inline-block;
    margin-left: 10px;
}

.user {
    font-size: small;
    padding: 0px 10px;
}

.messages {
    border: 2px solid #262626;
    border-radius: 5px;
    height: 300px;
    padding: 25px;
    background-color: #ffffff;
    overflow-y: scroll;
}

.messages::-webkit-scrollbar {
    width: 10px;
}

.messages::-webkit-scrollbar-track {
    background-color: #eeeeee;
}

.messages::-webkit-scrollbar-thumb {
    background-color: #bbbbbb;
    border-radius: 20px;
}

.message {
    width: fit-content;
    background: white;
    border-radius: 10px;
    padding: 5px 15px;
    box-shadow: 1px 1px 5px grey;
}

.userStatus {
    text-align: center;
    color: rgba(160, 160, 160, 120);
    padding-bottom: 10px;
    
}
